<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Campaign</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./views/css/styles.css">
    <script type="text/javascript" src="./views/js/scripts.js"></script>
  </head>
  <body>
    <article class="container">
      <h1 class="container__title">Create Campaign</h1>
      <form action="addCampaign" method="post">
        <fieldset class="card row">
          <h2>Campaign settings</h2>

          <div class="input-field col s12 m6">
            <label for="name" data-error="Must not be empty.">Campaign Name</label>
            <input type="text" id="name" name="name" class="validate"/>
          </div>

          <div class="input-field col s12 m6">
            <label for="segment_size" data-error="Must not be empty.">Segment Size</label>
            <input type="number" id="segment_size" name="segment_size" class="validate"/>
          </div>

          <div class="input-field col s12 m6">
            <label for="country" data-error="Must not be empty.">Country</label>
            <input type="text" id="country" name="country" class="validate"/>
          </div>

          <div class="input-field col s12 m6">
            <label for="language" data-error="Must not be empty.">Language</label>
            <input type="text" id="language" name="language" class="validate"/>
          </div>

          <div class="input-field col s12 m6">
            <select name="device_types" multiple>
              <option value="" disabled selected>Device Types</option>
              <option value="ANDROID">ANDROID</option>
              <option value="IPHONE">IPHONE</option>
              <option value="WEB">WEB</option>
            </select>
          </div>

          <div class="input-field col s12 m6">
            <label for="priority" data-error="Must not be empty.">Priority</label>
            <input type="number" id="priority" name="priority" class="validate" value="1"/>
          </div>

          <div class="input-field col s6 m4">
            <input type="date" name="start_date" id="start_date" class="datepicker">
            <label for="start_date" data-error="Must not be empty.">Start Date</label>
          </div>

          <div class="input-field col s6 m4">
            <input type="date" name="end_date" id="end_date" class="datepicker">
            <label for="end_date" data-error="Must not be empty.">End Date</label>
          </div>

          <div class="input-field col s12 m4">
            <select name="campaign_targets" multiple>
              <option value="" disabled selected>Campaign Targets</option>
              <option value="NEW_USERS">NEW_USERS</option>
              <option value="EXISTING_USERS">EXISTING_USERS</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="card row">

          <h2>Segments settings</h2>

          <div class="col s12">
            <fieldset class="card row">
              <input type="hidden" name="segments" value="0" />
              <div class="input-field col s12 m6">
                <label for="segment1_tag" data-error="Must not be empty.">Segment Users tag</label>
                <input type="text" id="segment1_tag" name="segment1_tag" class="validate" />
              </div>

              <div class="input-field col s12 m6">
                <label for="segment1_questions_id" data-error="Must not be empty.">Questions Id</label>
                <textarea id="segment1_questions_id" name="segment1_questions_id" class="validate materialize-textarea"></textarea>
              </div>
            </fieldset>

            <fieldset class="card row">
              <input type="hidden" name="segments" value="1" />
              <div class="input-field col s12 m6">
                <label for="segment2_tag" data-error="Must not be empty.">Segment Users tag</label>
                <input type="text" id="segment2_tag" name="segment2_tag" class="validate" />
              </div>

              <div class="input-field col s12 m6">
                <label for="segment2_questions_id" data-error="Must not be empty.">Questions Id</label>
                <textarea id="segment2_questions_id" name="segment2_questions_id" class="validate materialize-textarea"></textarea>
              </div>
            </fieldset>

            <fieldset class="card row">
              <input type="hidden" name="segments" value="2" />
              <div class="input-field col s12 m6">
                <label for="segment3_tag" data-error="Must not be empty.">Segment Users tag</label>
                <input type="text" id="segment3_tag" name="segment3_tag" class="validate" />
              </div>

              <div class="input-field col s12 m6">
                <label for="segment3_questions_id" data-error="Must not be empty.">Questions Id</label>
                <textarea id="segment3_questions_id" name="segment3_questions_id" class="validate materialize-textarea"></textarea>
              </div>
            </fieldset>

            <fieldset class="card row">
              <input type="hidden" name="segments" value="3" />
              <div class="input-field col s12 m6">
                <label for="segment4_tag" data-error="Must not be empty.">Segment Users tag</label>
                <input type="text" id="segment4_tag" name="segment4_tag" class="validate" />
              </div>

              <div class="input-field col s12 m6">
                <label for="segment4_questions_id" data-error="Must not be empty.">Questions Id</label>
                <textarea id="segment4_questions_id" name="segment4_questions_id" class="validate materialize-textarea"></textarea>
              </div>
            </fieldset>
          </div>

        </fieldset>

        <button type="submit" class="waves-effect waves-light btn">Create Campaign</button>

      </form>
    </article>
  </body>
</html>
